<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p class="msg text-danger bg-danger">Authorization required for Google Analytics API requests. Visit <%= link_to('Auth page', oauth_path)%></p>
    </div>
  </div>
</div>

